.hidden {
  display: none;
}

.btn {  
  cursor: pointer;
  width: 100px;
}

.btn-lg {
  width: 200px;
}

.headline {
  font-size: 3em;
  color: #6A8E7F;
}

a:hover {
  color: #95A3B3;
  text-decoration: none;
}

.credit {
  font-size: 0.7em;
}

.float_center {
  float: right;
  position: relative;
  left: -50%;
  text-align: left;
}

.float_center > .child {
  position: relative;
  left: 50%;
}

.clear {
  clear: both;
}

#prev {
  float: left;
  margin: 3px;
}

#next {
  float: left;
  margin: 3px;
}

#submit {
  margin: 3px;
}

img {
  width: 100%;
}

.page-header {
  background-color: #BACDB0;
  padding: 10px;
}

#suggestion {
  padding: 10px;
  background-color: #BFBDC1;  
}

#main {
  padding: 10px;  
  background-color: #BFBDC1;
}

body {
  font-family: 'Muli', sans-serif;
  color: #333333;
  line-height: 200%;
}

/* Hide those ugly radioboxes */
input[type=radio]{
  display: none;
}

/**
 * How it should look when hovered
 */
label:hover {
  color: #BACDB0;
}

/**
 * Make those labels sexy
 */
.label-fix{
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
  display: block;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
  border-top: 1px solid rgba(black,.1);
  background: white;
  whitespace: no-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all .15s ease;

  &:focus,
  &:hover,
  &:active{
    @extend .active-label;
  }

  &:first-of-type{
    border: 0;
  }
  
  
}

/**
 * How it should look when checked
 */
input:checked + label{ 
  @extend .active-label;
  background-color: #BACDB0;
  color: white;

  &:before{
    border-color: white;
    border: none;
    background: #e0758e;
  }
}

/**
 * How it should look when disabled
 */
input:disabled + label{ 
  background: #efefef;
  color: rgba(black,.5);
  cursor: not-allowed;

  &:hover{
    border-color: rgba(black,.1);
  }

  &:before{
    border-color: white;
    background: white;
  }
}